body {
    font-family: fantasy;
    background-color: aliceblue;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    border: 1px solid;
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/id/237/200/300);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
}

nav>a {
    color: black;
    text-decoration: none;
    border: 1px solid;
    padding: 8px;
}

.banner-image { 
    height: 400px;
    background-image: url(https://picsum.photos/id/237/200/300);
    background-size: cover;
    background-position: center;
}

main > section {
    height: 800px;
}

.section-content {
    text-align: center;
}


footer {
    text-align: center;
}