body {
    font-family: fantasy;
    background-color: aliceblue;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-logo {
    border: 1px solid;
    height: 50px;
    width: 50px;
    background-image: url(https://pbs.twimg.com/profile_images/806902967/17043_1184253694272_1466140112_30470920_4861900_n_400x400.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
}

nav>a {
    color: black;
    text-decoration: none;
    border: 1px solid;
    padding: 8px;
}

.banner-img { 
    height: 400px;
    background-size: auto;
    background-position: center;
}

.banner-1 {
    background-image: url(https://picsum.photos/500);
}

.banner-2 {
    background-image: url(https://picsum.photos/550);
}

.banner-3 {
    background-image: url(https://picsum.photos/600);
}

main > section {
    height: 800px;
}

.section-content {
    text-align: center;
}


footer {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}